<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>URL Shortener</title>
  <style>
    body {
      font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }

    h1 {
      color: #333;
      text-align: center;
    }

    form {
      margin: 20px auto;
      text-align: center;
      width: 80%; /* Adjust the width as needed */
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    input {
      width: 100%; /* Make the input full width */
      padding: 8px;
      box-sizing: border-box;
      margin-bottom: 12px; /* Add some space between the input and button */
    }

    button {
      padding: 8px 16px;
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }

    .url-container {
      max-height: 70vh;
      overflow-y: auto;
      width: 80%;
      margin: auto;
    }

    .table-container {
      position: relative;
      overflow-x: auto;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      border-top: 2px solid #007bff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #fff;
    }

    th, td {
      padding: 15px;
      border: 1px solid #ddd;
      text-align: left;
      white-space: nowrap;
    }

    th {
      background-color: #007bff;
      color: #fff;
      position: sticky;
      top: 0;
      z-index: 2;
    }

    tr {
      transition: background-color 0.3s ease;
    }

    tr:hover {
      background-color: #f0f0f0;
    }
  </style>
</head>
<body>
  <h1>URL Shortener</h1>
  <% if (locals.id) { %>
    <p>
      URL Generated:
      <a href="http://localhost:8004/url/<%=id%>" target="_blank">
        http://localhost:8004/url/<%=id%></a>
    </p>
  <% } %>
  <div>
    <form method="POST" action="/url">
      <label> Enter your Original URL</label>
      <input type="text" name="url" placeholder="http://www.example.com" />
      <button type="submit">Generate</button>
    </form>
  </div>
  <div class="url-container">
    <div class="table-container">
      <% if (locals.urls) { %>
        <table>
          <thead>
            <th>S.NO</th>
            <th>ShortID</th>
            <th>Redirect</th>
            <th>Clicks</th>
          </thead>
          <tbody>
            <% urls.forEach((url, index) => { %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= url.shortId %></td>
                <td><%= url.redirectUrl %></td>
                <td><%= url.clickCount %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } %>
    </div>
  </div>
</body>
</html>
